<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<form action="/search" method="get">
    <br></br>
    <label>Город из
        <input name ="CityFrom" ></input>
    </label>
    <br></br>
    <label>Город в
        <input name ="CityTo" ></input>
    </label>
    <br></br>
    <label>Дата отправления
        <input name ="DepDate" type="date"></input>
    </label>
    <br></br>
    <input value="Поиск" type = "submit"></input>
</form>



</body>
</html>